@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --text-color: #FFFFFF;
  --bg-color: #222222;
  --table-header-bg-color: #333333;
  --table-row-bg-color: #2e2e2e;
  --table-border-color: #777777;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*==================== BASE ====================*/
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--body-font);
  transition: all 0.2s ease;
}

.header-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-actions button {
	margin-right: 5px;
}

.header-title {
	color: var(--main-color);
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 60px;
}

.icons {
  color: var(--main-color);
  box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 6px var(--clr);
  margin-left: 50px;
}

.buttons {
	max-width: 600px;
	width: 100%;
	max-height: 55px;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-color: var(--main-color);
	color: var(--bg-color);
	border-radius: 0.8rem;
	padding: 14px;
	opacity: 40%;
}

.input-label {
	background-color: var(--bg-color);
	color: var(--text-color);
}

.button-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 12rem 0;
  padding-top: 60px;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.title-row {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  max-height: 100px;
  place-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*==================== TABLE ====================*/
.table__container {
  width: 100%;
  max-width: 60%;
  margin: auto;
  padding: 20px;
  background-color: var(--table-row-bg-color);
  border-radius: 8px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 12px;
  text-align: center;
  border: 1px solid var(--table-border-color);
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: var(--table-header-bg-color);
  color: var(--text-color);
  width: 300px;
}

td {
  width: 300px;
  color: var(--text-color);
}

tr:nth-child(even) {
  background-color: var(--table-row-bg-color);
}

tr:nth-child(odd) {
  background-color: var(--dark-alt-color);
}