@charset "UTF-8";
.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
}

.slide {
    display: none;
    padding: 20px;
    text-align: center;
}

.slide.active {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    }

button {
    margin: 10px;
}